<div>
  <h3>Post List</h3>
  <hr>
</div>
<div>
  <a [routerLink]="['/posts', 'add']" class="btn btn-primary">Add Post</a>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts$ | async">
      <td>{{post.id}}</td>
      <td>{{post.title}}</td>
      <td>{{post.description}}</td>
      <td>
        <a href="" class="m-2 btn btn-primary" [routerLink]="['/posts', 'edit', post.id]">Edit Post</a>
        <a href="" class="m-2 btn btn-danger" (click)="onDeletePost($event, post.id)">Delete Post</a>
        <a href="" class="m-2 btn btn-info" [routerLink]="['/posts', 'details', post.id]">Post Details</a>
      </td>
    </tr>
  </tbody>
</table>
